.env
.docker_build/
/.env.serverless
/.serverless
/bin
/server/go/.env.production.nocommit
/server/go/node_modules
/server/go/.serverless
/server/go/bin
/web/node_modules
/web/.serverless
/web/.next
.DS_Store
